<h1>Pour nous tenir en contact</h1>
<p> VIA GITHUB</p>
<ul>
  <p>les GITHUB juste en dessous</p>
  <li><a href= https://github.com/karlverdiere>Karl</a><===<p>github de karl juste au dessus</p></li>
  <li><a href= https://github.com/jdelfosse>Jerome</a><===<p>github de Jerome</p></li>
  <li><a href= https://github.com/HenriBrg>Henri</a><===<p>github de Henri</p></li>
  <li><a href= https://github.com/macdesu>Malone</a><===<p>github de Malone</p></li>
  <li><a href= https://github.com/orohellec>Olivier</a><===<p>github de Olivier</p></li>
  </ul>
